@model Personal_Blog_Project.Models.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h1>@Model.Title</h1>
        <h5>@Model.Category.CategoryName</h5>
    </div>
</div>
<div>
    <hr />
    <div>
        <div class="card">
            <div class="card-body">
                <h5>
                    Par: Justin Belanger
                </h5>
                <div>
                    <small class="text-muted">@Model.DateCreated.ToShortDateString()</small>
                </div>

                <div>
                    @Model.Body
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <div class="Post-Stat">
                    Views:
                </div>
                <div class="Post-Stat">
                    Likes: @Model.Likes.Count()
                </div>
                <div class="Post-Stat">
                    Comments: @Model.mainComments.Count()
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" >Reply</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Like</button>
                </div>
            </div>
        </div>


        <hr />
        @foreach (var comment in Model.mainComments)
        {
            <div class="Comment" style="margin-left: 4em;margin-bottom: 2em;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Par: Justin Belanger</h5>
                        <p class="card-text">@comment.Message</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">@comment.DateCreated.ToShortDateString()</small>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Reply</button>
                        </div>
                    </div>
                </div>
            </div>

            @foreach (var subComment in comment.SubComments)
            {
                <div class="Comment" style="margin-left: 8em;margin-bottom: 2em;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> Par: Justin Belanger</h5>
                            <p class="card-text">@subComment.Message</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <small class="text-muted">@subComment.DateCreated.ToShortDateString()</small>
                        </div>
                    </div>
                </div>
            }
        }
        <hr />
    </div>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
